#.idea/


# ignore target controller classes
starter_code/auth-course.iml
starter_code/target/classes/application.properties
starter_code/target/classes/com/example/demo/controllers/CartController.class
starter_code/target/classes/com/example/demo/controllers/ItemController.class
starter_code/target/classes/com/example/demo/controllers/OrderController.class
starter_code/target/classes/com/example/demo/controllers/UserController.class

auth-course.iml

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws